<!DOCTYPE html> 
<html lang = "en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script> 
            window.onload = function() {
                let redirectURL = "{{ url_for('rec.recs') }}";
                console.log("REDIRECTING TO: ", redirectURL);
                location.replace(redirectURL);
            };
        </script>
    </head> 
    <body>
        <div class="container">
            <div class = "main">
                <header> 
                    <h1> 
                        <a href="/" class="no-underline">RecordRecs</a>
                    </h1>
                </header>
                <section>
                    <p>
                        Please wait a moment, your recommendations are being generated ...
                    </p>
                </section>
            </div>
        </div>
        <div class="footer">
            --------------------------------------------------------------------------------------------- <br><br>
            (c) RecordRecs | 
            (c) maven | 
            Created with <a href='https://developer.spotify.com/documentation/web-api' target="_blank"> Spotify Web API</a> 
        </div>
    </body>
</html>

