<!DOCTYPE html> 
<html lang = "en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head> 
    <body>
        <div class = "container">
            <div class="main"> 
                <header> 
                    <h1> 
                        <a href="/" class="no-underline">RecordRecs</a>
                    </h1>
                </header>
                <!-- open up a grid -->
                <div class = "albums-grid">
                {% for item in content %}
                    {% if item.type == 'text' %}
                        <!-- close grid if text -->
                        </div>
                            <div class = "text-item">
                                <p> {{ item.data | safe }} </p>            
                        </div>
                        <!-- then open up another one-->
                        <div class = "albums-grid">
                    {% elif item.type == 'album' %}
                        <!-- keep grid open if album-->
                        <div class = "album-item">
                            <div> {{ item.image | safe }} </div>
                            <p> {{ item.text | safe }} </p>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- will end with album, so have to make sure to close grid -->
                </div>
            </div>
        </div>
        <div class="footer">
            --------------------------------------------------------------------------------------------- <br><br>
            (c) RecordRecs | 
            (c) maven | 
            Created with <a href='https://developer.spotify.com/documentation/web-api' target="_blank"> Spotify Web API</a> 
        </div>
    </body>
</html>

<!-- going to have to wait until after rate limit to see if this works ...
 credit for the loading: https://stackoverflow.com/questions/244183/how-to-display-a-loading-screen-while-site-content-loads 
-->