<!DOCTYPE html> 
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> First Flask App</title>
</head> 
<body>
    <pre>
        Welcome to RecordRecs! The website with recs that push your listening!
        <a href='/auth/login'>Login to RecordRecs with Spotify!</a>
    </pre>
</body>
</html>


<!-- 
 Ok, I can get the link, but what the link is pointing to is not running for some reason 
 well, tbh, i can just get rid of the structure and go back to what I was doing, if I wanted to 
 do that for some reason 
 i think it would be best to try to implement the structure first though tbh.
 -->