<!DOCTYPE html> 
<html lang = "en">
<head>
</head> 
    <body>
        <header> 
            <h1> 
                RecordRecs
            </h1>
        </header>
        <section>
            <p>
                Welcome to RecordRecs. <br> 
                RecordRecs helps Spotify users discover new albums.<br>
                It’s an alternative to the tedious process of fumbling through playlists, songs, and concerts to find a new project. <br>
                Just login with your Spotify account and receive a curated collection of albums, inspired by your recent listening. <br>
                <br>
                <a href='/auth/login'>Get recommendations.</a>
                <br>
                <!-- TODO: determine if I want hyperlink or button (leaning hyperlink tbh)-->
                <button> Get recommendations </button>
            </p>
        </section>
        <footer>
            Created with <a href='https://developer.spotify.com/documentation/web-api'> Spotify Web API</a> <br>
            (c) RecordRecs <br>
            (c) maven 
        </footer>
    </body>
</html>


<!-- 
TODO: include an image of the maven logo
NOTE: do i also want to add a new logo for the webpage? 
-->