<!DOCTYPE html> 
<html lang = "en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head> 
    <body>
        <div class="container">
            <div class = "main">
                <header> 
                    <h1> 
                        <a href="/" class="no-underline">RecordRecs</a>
                    </h1>
                </header>
                <section>
                    <p>
                        An error has occurred. We apologize for the inconvenience.
                    </p>
                </section>
            </div>
        </div>
        <div class="footer">
            --------------------------------------------------------------------------------------------- <br><br>
            (c) RecordRecs | 
            (c) maven | 
            Created with <a href='https://developer.spotify.com/documentation/web-api' target="_blank"> Spotify Web API</a> 
        </div>
    </body>
</html>

