html, body {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    justify-content: center;
    height: 100%;
}

.container {
    width: 60%;
    /* padding: 20px; */
    text-align:left; 
    margin:0 auto 40px;
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 140px;
}

.footer {
    position: relative;
    margin-top: -140px;
    height: 140px;
    clear: both;
    font-size: 16px;
    text-align: center;
}

.albums-grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 10px;
    justify-items: center;
    align-items: start;
    /* width: 20% */
}

.album-item {
    /* flex: 1 1 calc(50% - 10px); */
    /* box-sizing: border-box; */
    text-align: center;
}   

.text-item {
    text-align: left;
}

